* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.error-message {
  color: red;
  font-size: 25px;
  text-align: center;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid rgb(219, 217, 217);
}

.nav-links h1 {
  font-size: 45px;
}

.nav-links li {
  margin-left: 50px;
  font-size: 20px;
}

.active-link {
  color: #121212;
}

.logo a {
  color: #0290ff;
}

a {
  text-decoration: none;
  color: grey;
}

a:active {
  color: #121212;
}

.form {
  padding-top: 30px;
  border-top: 1px solid #e8e8e8;
}

.add-book-heading {
  margin-bottom: 30px;
  color: #888888;
}

.book-div {
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 25px;
}

.book-title {
  width: 22.813rem;
  height: 1.813rem;
  margin: 0.188rem 9.688rem 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-buttons {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  text-align: left;
}

.remove-btn {
  width: 3.375rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0.875rem;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: inherit;
  background-color: aqua;
  border-right: 1px solid rgb(239, 239, 239);
}

.book,
.book-buttons {
  padding-top: 20px;
}

.container-div {
  padding: 50px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  width: 100%;
}

.select-input {
  margin-left: 20px;
}

.form-container .input-field {
  padding: 10px;
  width: 100%;
}

.submit-button {
  background-color: #0290ff;
width: 9rem;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  margin-left: 20px;
  color: #fff;
}
